---

title: Deposits

STYLES: [
    icons/style,
    style
]

SCRIPTS: [
    accordion
]

# START article block content

article: 
  textual: 
    - "Вклади від Кредобанку це надійні гарантії збереження та примноження заощаджень. Ми впевнені, що серед наших пропозицій Ви знайдете саме цей вклад, умови якого задовольнять всі Ваші очікування."
  title: Депозити

#END

# START deposit offers block content

depositOffers: 
  - 
    info: "Призначений для Вкладників, які хочуть отримати від розміщених коштів високий прибуток після закінчення строку депозиту"
    title: Депозит «Стандарт +»
  - 
    info: "Передбачений для клієнтів, що бажають отримувати ще більше доходу разом із своїми близькими та друзями або ж отримувати бонус від розміщення своїх власних додаткових коштів."
    title: Family & Friends
  - 
    info: "Cпеціальний вклад для збереження коштів для дітей якi може отримати ці кошти в день досягнення 18-ти річного віку, як подарунок від батьків, дідусів, бабусь та інших близьких."
    title: Подарунок на повноліття

# END   

# START accordion block content

accordion:
  -
    links: 
      - 
        name: Закон України «Про систему гарантування вкладів фізичних осіб
        path: "#"

    textual: "Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (Свідоцтво учасника фонду № 51) з моменту його заснування."
    title: Максимальний дохід
  -
    links: 
      - 
        name: Закон України «Про систему гарантування вкладів фізичних осіб
        path: "#"
      - 
        name: Освітній курс з фінансової грамотності ФГВФО
        path: "#"
    textual: "Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (Свідоцтво учасника фонду № 51) з моменту його заснування."
    title: З можливістю поповнення
  -
    links: 
      - 
        name: Закон України «Про систему гарантування вкладів фізичних осіб
        path: "#"
      - 
        name: Освітній курс з фінансової грамотності ФГВФО
        path: "#"
    textual: "Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (Свідоцтво учасника фонду № 51) з моменту його заснування."
    title: Комфортні
  -
    links: 
      - 
        name: Закон України «Про систему гарантування вкладів фізичних осіб
        path: "#"
      - 
        name: Освітній курс з фінансової грамотності ФГВФО
        path: "#"
    textual: "Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (Свідоцтво учасника фонду № 51) з моменту його заснування."
    title: Он-лайн
  -
    links: 
      - 
        name: Закон України «Про систему гарантування вкладів фізичних осіб
        path: "#"
      - 
        name: Довідка про систему гарантування вкладів фізичних осіб
        path: "#"
      - 
        name: Освітній курс з фінансової грамотності ФГВФО
        path: "#"
    textual: "Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (Свідоцтво учасника фонду № 51) з моменту його заснування." 
    title: Фонд гарантування вкладів фізичних осіб
  -
    links: 
      - 
        name: Закон України «Про систему гарантування вкладів фізичних осіб
        path: "#"
      - 
        name: Освітній курс з фінансової грамотності ФГВФО
        path: "#"
    textual: "Фонд є державною, спеціалізованого установою, яка виконує функції державного управління у сфері гарантування вкладів фізичних осіб. Кредобанк є постійним учасником Фонду гарантування вкладів фізичних осіб (Свідоцтво учасника фонду № 51) з моменту його заснування."
    title: Виплати коштів з Фонду гарантування вкладів

# END

---

{% extends "./layouts/_layout.html" %}

{% block content %}

  <div class="l-content">

    {% include './partials/_article.html' %}
    {% include './partials/_offers.html' %}
    {% include './partials/_accordion.html' %}

  </div> 

{% endblock %}
