<!-- begin header -->
	<header class="header">
		<!-- begin header_top -->
			<div class="header_top">

				<!-- begin links -->
					<div class="links">
						<a href="#" class="links__item is-active">приватним клієнтам</a>
						<a href="#" class="links__item">юридичним особам</a>
						<a href="#" class="links__item">про банк</a>
						<a href="#" class="links__item">інтернет банкінг</a>
					</div>
				<!-- end links -->
				<div class="header__wrapp">
					<!-- begin search -->
						<div class="search icon-icon_search">
							<input type="search" placeholder="пошук">
						</div>
					<!-- end search -->
					<!-- begin links_lang -->
						<div class="links_lang links">
							<a href="#" class="links__item links__item_lang is-active">ua</a>
							<a href="#" class="links__item links__item_lang">en</a>
							<a href="#" class="links__item links__item_lang">ru</a>
							<a href="#" class="links__item links__item_lang">pl</a>
						</div>
					<!-- end links_lang -->
				</div>
				
			</div>
		<!-- end header_top -->
		<!-- begin header_bottom -->
			<div class="header_bottom">

				<!-- begin logo -->
					<a href="#" class="logo">
						<img src="img/logo.png" alt="Logo">
					</a>
				<!-- end logo -->	
				<!-- begin nav -->
					<nav class="nav">
						<a href="#" class="nav__item">Кредити</a>
						<a href="#" class="nav__item is-active">Депозити</a>
						<a href="#" class="nav__item">Рахунки та пакети</a>
						<a href="#" class="nav__item">Платіжні картки</a>
						<a href="#" class="nav__item">Страхування</a>
						<a href="#" class="nav__item">Грошові перекази</a>
						<a href="#" class="nav__item">Цінні папери</a>
					</nav>
				<!-- end nav -->

			</div>
		<!-- end header_bottom -->
	</header>
<!-- end header -->